---
import TrackItem from "./TrackItem.astro";
import { getRecentlyPlayed } from "../../lib/spotify";
import MediaCarousel from "../MediaCarousel.astro";

const items = await getRecentlyPlayed(12);
const tracks = items?.map((i: any) => i.track) ?? [];
---

<MediaCarousel title="Escuchado recientemente" count={tracks.length} href="/history">
  {tracks.map(track => (
    <div class="min-w-[140px] md:min-w-[160px] flex-shrink-0 snap-start">
      <TrackItem track={track} />
    </div>
  ))}
</MediaCarousel>