---
import { getTopArtists } from "../../lib/spotify";
import ArtistItem from "./ArtistItem.astro";

// Obtenemos una cantidad generosa para llenar pantallas anchas
const artists = (await getTopArtists()).slice(0, 12);
---
<div class="w-full flex flex-nowrap items-center justify-between gap-4 overflow-hidden py-2">
    {artists.map((artist) => (
      <div class="flex-shrink-0">
        <ArtistItem 
          id={artist.id}
          name={artist.name}
          image={artist.images[0]?.url}
        />
      </div>
    ))}
  </div>