---
// src/components/artists/TopArtists.astro
import { getTopArtists } from "../../lib/spotify";
import MediaCarousel from "../MediaCarousel.astro";
import ArtistItem from "./ArtistItem.astro";

const topArtists = await getTopArtists();
const artists = topArtists.slice(0, 12);
---

<MediaCarousel title="Tus Artistas Top" count={artists.length} href="/top-artists">
  {artists.map((artist) => (
    <div class="min-w-[140px] md:min-w-[160px] flex-shrink-0 snap-start">
      <ArtistItem 
        id={artist.id}
        name={artist.name}
        image={artist.images[0]?.url}
      />
    </div>
  ))}
</MediaCarousel>