---
import TopArtists from '../components/artists/TopArtists.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import FeaturedPlaylists from '../components/playlists/FeaturedPlaylists.astro';
import HistoryTrackList from '../components/tracks/HistoryTrackList.astro';
import GenresGrid from '../components/genres/GenresGrid.astro';
import HighlightedAlbum from '../components/albums/HighlightedAlbum.astro';

const HIGHLIGHTED_ALBUM_ID = import.meta.env.SPOTIFY_HIGHLIGHTED_ALBUM_ID;
---

<Layout title="Spotify | Dashboard">

  <div class="flex flex-col gap-16 pb-32 isolate">
    
    <SectionContainer 
      title="Artistas en bucle"
      linkText="Mostrar todos"
      href="/top-artists"
    >
      <div class="min-h-[180px] [transform:translateZ(0)]">
        <TopArtists />
      </div>
    </SectionContainer>

    <div class="[transform:translateZ(0)] will-change-transform px-2">
      <SectionContainer
        title="Álbum destacado"
        linkText="Ver álbum"
        href={`/album/${HIGHLIGHTED_ALBUM_ID}`}
      >
        <HighlightedAlbum albumId={HIGHLIGHTED_ALBUM_ID} />
      </SectionContainer>
    </div> 

    <SectionContainer 
      title="Recientemente escuchado"
      linkText="Mostrar todos"
      href="/history"
    >
      <div class="min-h-[200px] [transform:translateZ(0)]">
        <HistoryTrackList />
      </div>
    </SectionContainer>

    <SectionContainer title="Explorar Géneros">
      <div class="[transform:translateZ(0)]">
        <GenresGrid />
      </div>
    </SectionContainer>

    <SectionContainer 
      title="Playlists recomendadas"
      linkText="Mostrar todos"
      href="/featured"
    >
      <div class="min-h-[220px] [transform:translateZ(0)]">
        <FeaturedPlaylists />
      </div>
    </SectionContainer>

  </div>
</Layout>

<style>
  /* Optimización pro de renderizado */
  section {
    content-visibility: auto;
    contain-intrinsic-size: 1px 400px;
  }
</style>