---
import TopArtists from '../components/artists/TopArtists.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import FeaturedPlaylists from '../components/playlists/FeaturedPlaylists.astro';
import HistoryTrackList from '../components/tracks/HistoryTrackList.astro';
import GenresGrid from '../components/genres/GenresGrid.astro';
import HighlightedAlbum from '../components/albums/HighlightedAlbum.astro';

const HIGHLIGHTED_ALBUM_ID = import.meta.env.SPOTIFY_HIGHLIGHTED_ALBUM_ID;
---

<Layout title="Spotify | Dashboard">

  <div class="flex flex-col gap-8 pb-32">
    
    <SectionContainer 
      title="Artistas en bucle"
      linkText="Mostrar todos"
      href="/top-artists"
    >
      <TopArtists />
    </SectionContainer>

    <SectionContainer 
      title="Recientemente escuchado"
      linkText="Mostrar todos"
      href="/history"
    >
      <HistoryTrackList />
    </SectionContainer>

    <SectionContainer 
      title="Playlists recomendadas"
      linkText="Mostrar todos"
      href="/featured"
    >
      <FeaturedPlaylists />
    </SectionContainer>

    <SectionContainer
      title="Álbum destacado"
      linkText="Ver álbum"
      href={`/album/${HIGHLIGHTED_ALBUM_ID}`}
    >
      <HighlightedAlbum albumId={HIGHLIGHTED_ALBUM_ID} />
    </SectionContainer>

    <SectionContainer 
      title="Tus Géneros"
    >
      <GenresGrid />
    </SectionContainer>
  </div>
</Layout>