---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';

// Componentes que consumen tus Carousels/Grids internamente
import HighlightedAlbum from '../components/albums/HighlightedAlbum.astro';
import HistoryTrackList from '../components/tracks/HistoryTrackList.astro';
import GenresGrid from '../components/genres/GenresGrid.astro';
import UserPlaylists from '../components/playlists/UserPlaylists.astro';
import TopArtists from '../components/artists/TopArtists.astro';

const HIGHLIGHTED_ALBUM_ID = import.meta.env.SPOTIFY_HIGHLIGHTED_ALBUM_ID;
---

<Layout title="Spotify | Dashboard">
  <div class="flex flex-col gap-12 md:gap-16 pb-32 isolate">
    
    <TopArtists />

    <SectionContainer 
      title="Álbum destacado" 
      href={`/album/${HIGHLIGHTED_ALBUM_ID}`} 
      linkText="Ver álbum"
    >
      <HighlightedAlbum albumId={HIGHLIGHTED_ALBUM_ID} />
    </SectionContainer>

    <HistoryTrackList />

    <GenresGrid /> 

    <SectionContainer 
      title="Todos los géneros" 
      href="/genres"
      linkText="Ver todos"
    >
      <GenresGrid />
    </SectionContainer>
    
    <UserPlaylists />

  </div>
</Layout>

<style>
  /* Mantenemos content-visibility para que el navegador 
     no renderice lo que está fuera de pantalla (muy útil en móviles)
  */
  section {
    content-visibility: auto;
    contain-intrinsic-size: 1px 300px;
  }
</style>