---
import Layout from '../layouts/Layout.astro';
import SpotifyArtist from '../components/SpotifyArtist.astro';
---

<Layout title="Mi Web">
  <main>
    <h1>Bienvenido a mi sitio</h1>
    <SpotifyArtist />
  </main>
</Layout>