---
import '../styles/global.css'; // <--- IMPORTACIÓN CRÍTICA AQUÍ
import Navbar from '../components/Navbar.astro';
import Player from '../components/Player.astro';
import { ClientRouter } from 'astro:transitions';
import Sidebar from '../components/Sidebar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-black text-zinc-100 selection:bg-[#1DB954]/30 overflow-hidden h-[100dvh] grid-layout">
    
    <header class="[grid-area:header]">
      <Navbar />
    </header>

    <aside class="hidden md:flex [grid-area:aside] flex-col overflow-y-auto bg-zinc-900 rounded-xl m-2 md:mb-2">
      <Sidebar />
    </aside>

    <main class="[grid-area:main] overflow-y-auto bg-transparent md:bg-zinc-900 rounded-xl md:m-2 md:ml-0 md:mb-2 relative">
      <div class="px-4 md:px-6 py-4 pb-40 md:pb-28">
        <slot />
      </div>
    </main>

    <div class="fixed bottom-0 left-0 right-0 z-[100] px-2 pb-4 md:pb-8 pointer-events-none">
       <Player transition:persist />
    </div>
  </body>
</html>