---
import { getUserSavedAlbums } from "../../lib/spotify";
import type { SpotifyAlbum } from "../../types/spotify";
import AlbumListItem from "./AlbumListItem.astro";

const savedItems = await getUserSavedAlbums(20);
---

<ul 
  class="flex flex-col gap-0.5 px-2 flex-1 pb-4 overflow-y-auto overflow-x-hidden 
         [scrollbar-width:thin] [scrollbar-color:transparent_transparent] hover:[scrollbar-color:rgba(255,255,255,0.1)_transparent]
         [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-thumb]:bg-transparent hover:[&::-webkit-scrollbar-thumb]:bg-white/10 
         [&::-webkit-scrollbar-thumb]:rounded-full
         isolate [transform:translateZ(0)]"
>
  {
    savedItems.length > 0 ? (
      savedItems.map(({ album }: { album: SpotifyAlbum }) => (
        <li class="[content-visibility:auto] [contain-intrinsic-size:0_64px] [transform:translateZ(0)]">
          <AlbumListItem album={album} />
        </li>
      ))
    ) : (
      <li class="p-4 text-xs text-zinc-500 text-center italic antialiased">
        Tu biblioteca está vacía.
      </li>
    )
  }
</ul>